<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="beanLifeCycle" class="win.yulongsun.demo.spring.di.BeanLifeCycle" init-method="init"/>

    <bean id="beanFactoryTest" class="win.yulongsun.demo.spring.di.BeanFactoryTest"/>

</beans>