<bean class="org.mybatis.spring.SqlSessionFactoryBean" >
    <property name="dataSource" ref="dataSource"></property>
    <property name="mapperLocations">
        <array>
            <value>classpath:com/dao/impl/*Mapper.xml</value>
        </array>
    </property>
    <!--分页插件-->
    <property name="plugins">
        <array>
            <bean class="com.github.pagehelper.PageHelper">
                <property name="properties">
                    <value>dialect=mysql</value>
                </property>

            </bean>
        </array>
    </property>
</bean>