<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--服务端bean-->
    <bean id="helloWorld" class="win.yulongsun.demo.spring.rmi.server.HelloWordImpl" scope="prototype"/>

    <!-- 将类暴露成为一个RMI服务 -->
    <bean id="springRmiTest" class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- 服务类 -->
        <property name="service" ref="helloWorld"/>
        <!-- 服务名 -->
        <property name="serviceName" value="helloWorldServiceName"/>
        <!-- 服务接口 -->
        <property name="serviceInterface" value="win.yulongsun.demo.spring.rmi.server.IHelloWorld"/>
        <!-- 服务端口 -->
        <property name="registryPort" value="9999"/>
        <!-- 其他属性自己查看org.springframework.remoting.rmi.RmiServiceExporter的类,就知道支持的属性了-->
    </bean>
</beans>